In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import os
print("Current Working Directory " , os.getcwd())

Current Working Directory  c:\Users\URM08A\Desktop\CSR

In [4]:
#Windows path
os.chdir('C:/Users/URM08A/Desktop/ESG_Ref_Bloom')

In [5]:
#import data
df_bloom = pd.read_excel(r'ESG_Combined.xlsx', sheet_name='ESG_dis_bloom')
print(df_bloom)

               ISIN  Year esg_dis
0      US0003602069  2001       .
1      US0003602069  2002       .
2      US0003602069  2003       .
3      US0003602069  2004       .
4      US0003602069  2005       .
...             ...   ...     ...
64543  US98986T1088  2018       .
64544  US98986T1088  2019       .
64545  US98986T1088  2020       .
64546  US98986T1088  2021       .
64547  US98986T1088  2022       .

[64548 rows x 3 columns]

In [7]:
#import data
df_id = pd.read_excel(r'us.xlsx')
print(df_id)

              ISIN   IBTKR                                     NAME     SECD  \
0     AN8068571086   @:SLB                             SCHLUMBERGER  2779201
1     BMG0129K1045   @:AYR                                AIRCASTLE  B1BDJQ3
2     BMG0450A1053  @:RISK                             ARCH CAP.GP.  2740542
3     BMG0464B1072  @:PXRE                    ARGO GP.INTL.HOLDINGS  2499543
4     BMG053841547     NaN  ASPEN IN.HDG.5.95% NON-CUM.PERP.PF.SHS.  B94QMV1
...            ...     ...                                      ...      ...
3068  VGG0443N1078  @:WAAS                     AQUAVENTURE HOLDINGS  BYVZDC4
3069  VGG0457F1071  @:ARCD                   ARCOS DORADOS HOLDINGS  B529PQ0
3070  VGG111961055  @:BHVN          BIOHAVEN PHARMACEUTICAL HOLDING  BZ8FXC4
3071  VGG1890L1076  @:KORS                           CAPRI HOLDINGS  BJ1N1M9
3072  VGG872101032  @:UTIW     UTI WORLDWIDE DEAD - DELIST.25/01/16  2676368

     Ticker (I/B/E/S)
0                 SLB
1                 AYR
2                ACGL
3                ARGO
4                 NaN
...               ...
3068             WAAS
3069             ARCO
3070             BHVN
3071             CPRI
3072             UTIW

[3073 rows x 5 columns]

## Merge

In [8]:
result = pd.merge(df_bloom, df_id, how="left", on=["ISIN"])

In [9]:
result

               ISIN  Year esg_dis   IBTKR       NAME     SECD Ticker (I/B/E/S)
0      US0003602069  2001       .  @:AAON       AAON  2268130             AAON
1      US0003602069  2002       .  @:AAON       AAON  2268130             AAON
2      US0003602069  2003       .  @:AAON       AAON  2268130             AAON
3      US0003602069  2004       .  @:AAON       AAON  2268130             AAON
4      US0003602069  2005       .  @:AAON       AAON  2268130             AAON
...             ...   ...     ...     ...        ...      ...              ...
64543  US98986T1088  2018       .  @:ZNGA  ZYNGA 'A'  B79PX49             ZNGA
64544  US98986T1088  2019       .  @:ZNGA  ZYNGA 'A'  B79PX49             ZNGA
64545  US98986T1088  2020       .  @:ZNGA  ZYNGA 'A'  B79PX49             ZNGA
64546  US98986T1088  2021       .  @:ZNGA  ZYNGA 'A'  B79PX49             ZNGA
64547  US98986T1088  2022       .  @:ZNGA  ZYNGA 'A'  B79PX49             ZNGA

[64548 rows x 7 columns]